* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Scrollbar */
* {
    scrollbar-width: auto;
    scrollbar-color: #000000 #ffffff;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 3px;
    border: 1px none #ffffff;
}

/*End Scroll bar*/


/*CABEÇALHO*/
header {
    background-color: #4adedd;
    display: flex;
    width: 100%;
    height: 6%;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

header h2 {
    margin-top: 7px;
}

.topo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.drop{
    position: absolute;
    right: 10px;
    top: 20px;
}

.logo img {
    height: 100%;
}

.user {
    width: 8%;
    height: 100%;
    padding: 2px;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
}

.user img {
    width: 50%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #b4b8b9;
}

.logout{
    text-align: center;
    background-color: whitesmoke;
    width: 3%;
    height: 4%;
    position: absolute;
    right: 1%;
    top: 9%;
    border: 1px solid rgb(0, 0, 0) ;
    border-radius: 5px;
    
}

/*FIM CABEÇALHO*/


.main {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    width: 25%;
    height: 100%;
    background-color: rgb(245, 245, 245);
    padding: 10px;
}

.sidebar h3 {
    color: #111;
    font-size: 20px;
}

.sidebar a {
    display: block;
    color: #777;
    margin: 20px 7px;
    padding: 5px;
    border-radius: 6px;
    border-left: 2px solid;
}

.sidebar a:hover {
    background-color: rgb(214, 211, 211);
    color: #333;
}

.sidebar button:hover {
    background-color: rgb(214, 211, 211);
    color: #333;
}


/*PAINEL ADMIN*/
.active {
    background-color: rgb(214, 211, 211);
    color: #111;
}

.active i {
    color: #111;
}

i {
    margin: 5px 13px;
}

.content {
    display: flex;
    width: 75%;
    background-image: url(img/textura.jpg);
    box-shadow: 10px 10px 58px -11px rgba(0,0,0,0.82) inset;
-webkit-box-shadow: 10px 10px 58px -11px rgba(0,0,0,0.82) inset;
-moz-box-shadow: 10px 10px 58px -11px rgba(0,0,0,0.82) inset;
    justify-content: space-around;
}

.content table, .cadas_produto {
    background-color: #ffffff;
    box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
    border: 3px solid #333333;
    border-radius: 5px;
    padding: 5px;
}

.content th,
td {
    padding: 15px;
    text-align: center;
}

.cad_produtos {
    display: flex;
    justify-content: flex-end;
}

.btn_cad, .return_cad {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    color: #333333;
    font-size: 15px;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border: 2px solid #333333;
    transition: 0.3s;
    box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
    background-color: #ffffff;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.btn_cad:hover, .return_cad:hover {
    box-shadow: 0 0 #333;
    color: #fff;
    background-color: #000000;
}

.btn_edit,
.btn_exc {
    border-radius: 5px;
    font-size: 16px;
    padding: 7px;
    transition-duration: 0.3s;
    color: black;
}

.btn_edit:hover {
    background-color: #000000;
    color: white;
}

.btn_exc:hover {
    background-color: #000000;
    color: white;
}

/* FIM PAINEL ADMIN */



/*INICIO CADASTRAR PRODUTOS */

.container_cad_produto{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 36%;
}

.return_cad a{
    width: 100%;
    height: 100%;
    color: #000000;
    text-align: center;
    padding: 5px;
}

.return_cad a:hover{
    color: #ffffff;
}

.cadas_produto {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 36%;
}

.cadas_produto h2{
    text-align: center;
}

form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
}



/* TESTE NOTIFICAÇÃO */


#elementoid {
    padding: 20px 40px;
    font-size: 20px;
    background-color: blue;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    cursor: pointer;
  }
  
  .message {
    padding: 19px 60px;
    position: fixed;
    top: 20px;
    right: 105px;
    background-color: chocolate;
    border-radius: 3px;
    color: #fff;
    animation: slidein 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  
  @keyframes slidein {
    0% {
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .message::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    animation: time 3s forwards;
  }
  @keyframes time {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }