@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;600&family=Poppins:wght@200;500&display=swap');

body{
    background-image: url(../img/background/fundo.jpg);
    background-size: cover;
    font-family: noto sans;
    font-weight: 300;
}   

.btn{
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
}