* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #000000 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 3px;
    border: 1px none #ffffff;
  }
  

header{
    background-color: #7fffd4;
    display: flex;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.topo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2%;
}


.logo{
    height: 100%;
    width: 6%;
}
.user{
    display: flex;
    padding: 5px;
    width: 4%;
    align-items: center;
    cursor: pointer;
}

header img{
    width: 100%;
}

.main{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.sidebar{
    width: 25%;
    height: 100%;
    background-color: rgb(245, 245, 245);
    padding: 10px
}

.sidebar h3{
    color: #333;
    font-size: 20px;
}

.sidebar a{
    display: block;
    text-decoration: none;
    color: #777;
    margin: 20px 7px ;
    padding: 5px;
    border-left: 2px solid ;
}

.sidebar a:hover{
    background-color: rgb(214, 211, 211);
    border-radius: 6px;
    color: #333;
}

.sidebar a:visited{
    text-decoration: none;
}

.active{
    background-color: rgb(214, 211, 211);
    border-radius: 6px;
    color: #333;
    
}
.active i{
    color: #111;
}
i{
    margin: 5px 13px ;
}

.content{
    width: 75%;
    background-color: rgb(214, 211, 211);
}
